<launch>

    <node name="imu_node" pkg="diosa_imu" type="imu.py"/>
    <node name="pid_node" pkg="diosa_pid" type="pid.py"/>
    <node name="motor_control_node" pkg="diosa_motor_control" type="motor_control.py"/>
    <node name="radio_transceiver_node" pkg="diosa_radio" type="fc_radio.py"/>

</launch>